{% extends "layout.njk" %}}
{% block css %}
{%if themeChoice === "dark" %}
    <link rel="stylesheet" href="/css/dark.css" />
{%else%}
    <link rel="stylesheet" href="/css/layout.css" />
{%endif%}
{% endblock %}
{% block content %}
    <h1> Welcome to the home page  </h1>
{% endblock %}
